.layout[data-v-f005868f] {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.layot_header[data-v-f005868f] {
  background-color: var(--bc-primary-color);
  box-shadow: 0 2px 8px #f0f1f2;
  z-index: 100;
}
[data-v-c966ffd5] .ant-form-item-control-input-content {
  display: flex;
  justify-content: center;
}
